{:statement :income-statement
 :industry :standard
 :taxonomy "us-gaap"
 :version "2026-07-28"
 :notes "Concept fallback chains for standard industrial filers. Each line item lists candidate XBRL concepts tried in order; the first present in the company's facts wins per period."
 :line-items
 [{:label "Revenue"
   :concepts ["RevenueFromContractWithCustomerExcludingAssessedTax"
              "Revenues"
              "SalesRevenueNet"
              "SalesRevenueGoodsNet"
              "RevenueFromContractWithCustomerIncludingAssessedTax"]}
  {:label "Cost of Revenue"
   :concepts ["CostOfRevenue"
              "CostOfGoodsSold"
              "CostOfGoodsAndServicesSold"]}
  {:label "Gross Profit"
   :concepts ["GrossProfit"]}
  {:label "Operating Expenses"
   :concepts ["OperatingExpenses"]}
  {:label "Total Costs and Expenses"
   :concepts ["CostsAndExpenses"]}
  {:label "R&D Expense"
   :concepts ["ResearchAndDevelopmentExpense"]}
  {:label "SG&A Expense"
   :concepts ["SellingGeneralAndAdministrativeExpense"]}
  {:label "Selling and Marketing Expense"
   :concepts ["SellingAndMarketingExpense"
              "SellingExpense"]}
  {:label "General and Administrative Expense"
   :concepts ["GeneralAndAdministrativeExpense"]}
  {:label "Marketing Expense"
   :concepts ["MarketingExpense"
              "MarketingAndAdvertisingExpense"]}
  {:label "Fulfillment Expense"
   :concepts ["FulfillmentExpense"]}
  {:label "Other Operating Expense"
   :concepts ["OtherCostAndExpenseOperating"
              "OtherOperatingIncomeExpenseNet"]}
  {:label "Excise Taxes"
   :concepts ["ExciseAndSalesTaxes"
              "ExciseTaxes"]}
  {:label "Restructuring Charges"
   :concepts ["RestructuringCharges"
              "RestructuringCostsAndAssetImpairmentCharges"
              "RestructuringSettlementAndImpairmentProvisions"]}
  {:label "Impairment Charges"
   :concepts ["AssetImpairmentCharges"
              "ImpairmentOfLongLivedAssetsHeldAndUsed"
              "ImpairmentOfIntangibleAssetsExcludingGoodwill"]}
  {:label "Goodwill Impairment"
   :concepts ["GoodwillImpairmentLoss"]}
  {:label "Acquisition-Related Costs"
   :concepts ["BusinessCombinationAcquisitionRelatedCosts"]}
  {:label "Litigation Settlement"
   :concepts ["LitigationSettlementExpense"]}
  {:label "Gain (Loss) on Sale of Assets"
   :concepts ["GainLossOnDispositionOfAssets1"
              "GainsLossesOnSalesOfAssets"
              "GainLossOnDispositionOfAssets"
              "GainLossOnSaleOfPropertyPlantEquipment"
              "GainLossOnDispositionOfProperty"]}
  {:label "In-Process R&D"
   :concepts ["ResearchAndDevelopmentInProcess"]}
  {:label "Operating Income"
   :concepts ["OperatingIncomeLoss"]}
  {:label "Non-Operating Income"
   :concepts ["NonoperatingIncomeExpense"]}
  {:label "Interest Expense"
   :concepts ["InterestExpense"
              "InterestExpenseDebt"
              "InterestExpenseNonoperating"
              "InterestAndDebtExpense"]}
  {:label "Pre-Tax Income"
   :concepts ["IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest"
              "IncomeLossFromContinuingOperationsBeforeIncomeTaxesMinorityInterestAndIncomeLossFromEquityMethodInvestments"]}
  {:label "Income Tax Expense"
   :concepts ["IncomeTaxExpenseBenefit"
              "IncomeTaxExpenseBenefitContinuingOperations"]}
  {:label "Net Income"
   :concepts ["NetIncomeLoss"
              "ProfitLoss"
              "NetIncomeLossAvailableToCommonStockholdersBasic"]}
  {:label "EPS Basic"
   :concepts ["EarningsPerShareBasic"]}
  {:label "EPS Diluted"
   :concepts ["EarningsPerShareDiluted"]}
  {:label "Shares Basic"
   :concepts ["WeightedAverageNumberOfSharesOutstandingBasic"]}
  {:label "Shares Diluted"
   :concepts ["WeightedAverageNumberOfDilutedSharesOutstanding"]}]}
